h2 {
	margin-bottom: 30px;
}

header {
	position: sticky;
	top: 0;
	z-index: 10;
}

section {
	padding: 50px 0;
}
/* Registration */
.wrapper {
	height: 100vh;
}

.logo {
	width: 40px;
}

.carousel-caption {
	color: #333;
}

.card-img-top{
	width: 100%;
	height: 250px;
	object-fit: cover;
}
.carousel-control-next-icon {
	background-image: url(../images/carousel/free-icon-right-arrow-angle-54833.png) ;
}
.carousel-control-prev-icon {
	background-image: url(../images/carousel/left-arrow.png);
}
.carousel-control-prev{
	left: -110px;
}
.carousel-control-next{
	right: -110px;
}

footer {
	padding: 15px 0;
}


